doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Files FilePond CDN
        link(rel="stylesheet", href="https://unpkg.com/filepond@^4/dist/filepond.css")
        link(rel="stylesheet", href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css")
        link(rel="stylesheet", href="/assets/css/style.css")
        // Scripts file
        script(defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js")
        script(defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js") 
        script(defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js")
        script(defer src="https://unpkg.com/filepond@^4/dist/filepond.js")
        script(defer src="/assets/js/fileUpload.js") 
        title mybrary
    body
        include ../partials/header.pug
        include ../partials/errorMessage.pug
        block content

        