extends ../layouts/layout
block content 
    h2 Edit Author
    form(action=`/authors/${author.id}?_method=PUT`, method="POST") 
        include _formFields.pug
        div(class="form-row-end btn-row")
            a(href=`/authors/${author.id}`, class="btn btn-danger") Cancel 
            button(type="submit", class="btn btn-primary") Update