extends ../layouts/layout
block content 
    h2 Add New Author
    form(action="/authors", method="POST")
        div 
            include _formFields.pug
        div 
            a(href="/") Cancel 
            button(type="submit") Create