extends ../layouts/layout
block content 
    h2=`${author.name}`
    div(class="btn-row")
        a(href=`/authors/${author.id}/edit`, class="btn btn-primary") Edit 
        include ../partials/deleteForm.pug 
        +deleteForm(`/authors/${author.id}`)

    div 
        if booksByAuthor.length > 0
            h2 Books By Author 
            include ../partials/bookGrid.pug
            +bookGrid(booksByAuthor, false)
        else 
            p There are no books for #{author.name}